@charset "UTF-8";

/* GLOBAL STYLING  */
html {
	min-height: 100%;
	width: 100%;
	margin: 0;
}

body{
	min-height: 100%;
	margin: 0;
	font-family: 'Assistant', sans-serif;
}

h1, h2, h3, h4, h5{
	font-family: 'Karma', serif;
}

h2 {
	font-size: 3rem;
}

p {
	font-size: 2rem;
}

main {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

/* HEADER STYLING */

header {
	background-image: url(../images/skyline.jpg);
	padding: 4rem 8rem;
}

h1 {
	font-size: 5rem;
	text-align: center;
	padding-top: 5rem;
	color: #111111;
}

.logo {
	max-height: 75%;
	max-width: 75%;
	padding-left: 4rem;
}

nav {
	margin-top: 4rem;
}

nav ul {
	font-size: 3rem;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	text-align: center;
}

nav li a {
	color: #1B2631;
}

/* FOOTER STYLING */

footer {
	padding-top: 4rem;
	padding-bottom: 6rem;
	text-align: center;
	background-color: #f1f1f1;
	clear: both;
}

/* HOME PAGE STYLING */

.home-main-text {
	padding-left: 12rem;
}

.home-main-image {
	padding-left: 12rem;
}

/* SERVICES PAGE STYLING */

.services h3,
.service-areas h3 {
	margin-left: 10rem;
}

.our-services {
	margin-left: 9.5rem;
}

.service-areas-details {
	margin-left: 4rem;
}

.service-areas-details p {
	width: 85%;
}

.services-image,
.service-areas-map {
	display: flex;
	justify-content: flex-end;
}

.services-image img {
	width: 90%;
}

.photo-gallery {
	padding-left: 3rem;
}

/* CONTACT PAGE STYLING */

.contact-details {
	float: right;
	padding-left: 4.5rem;
}

.contact-details h2 {
	font-size: 4rem;
	margin-bottom: 4rem;
}

.contact-details p strong {
	font-size: 2.15rem;
}

.more-info {
	margin-top: 5rem;
}

.more-info button,
	button {
	background-color: #1B2631;
	padding-top: 1rem;
	padding-left: 4rem;
	padding-right: 4rem;
	padding-bottom: 1rem;
	margin-top: 1rem;
}

.more-info button:hover,
.waiver button:hover {
	background-color: rgba(27, 38, 49, 0.9);
}

.more-info button a,
.waiver button a {
	font-size: 2.05rem;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #f7dc6f;
}

.more-info button a:hover,
.waiver button a:hover {
	color: #d4ac0d;
}

.photo-row {
  display: flex;
	flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.photo-column {
	flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.photo-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .photo-column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .photo-column {
    flex: 100%;
    max-width: 100%;
  }
}


/* MOBILE STYLING */

@media only screen and (width: 320px) {
	h1 {
		font-size: 6rem;
	}

	p {
		font-size: 4rem;
	}

	.logo {
		max-height: 100%;
		max-width: 100%;
		padding-left: 4rem;
	}

	footer {
		padding-top: 4rem;
		padding-left: 4rem;
		padding-right: 4rem;
		padding-bottom: 20rem;
	}

}