@charset "UTF-8";
/* CSS Document */

body{
	font-family: 'Assistant', sans-serif;
}

.header{

}

h1, h2, h3, h4{
	font-family: 'Karma', serif;
	font-weight: lighter;
}

.luna-blue-fall {
	max-height: 100%;
	max-width: 100%;
	transform: rotate(180deg); 
}